#main{
    max-width: 980px;
    margin: auto;
}

.row{
    display: flex;
    border: 2px solid red;
    justify-content: space-between;
    height: 50px;
    width: auto;
}

.box{
    border: 1px solid blue;
    justify-content: space-between;
    height: 50px;
    width: auto;
    margin: 0 auto;
    flex: 1 0;
}