#main{
    max-width: 980px;
    margin: auto;
    flex-shrink: 0;
}

.row{
    display: flex;
}

.box{
    border: 1px solid blue;
    justify-content: space-between;
    height: 50px;
    margin: auto 0;
    flex: 1 0;
}

.persistent-hover {
    background-color: yellow;
  }

.box[id^='box_']:hover {
    background-color: yellow;
  }