
#main{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    max-width: 980px;
}
.row{
    display: flex;
    max-width: 980px;
}

.box{
    border: 1px solid blue;
    height: 50px;
    width: 50px;

}

.persistent-hover {
    background-color: yellow;
  }

.box[id^='box_']:hover {
    background-color: yellow;
  }